/bin
/target
*.class
.classpath
.project
/.settings
.DS_Store
.jsdtscope
.springBeans
/dist
/build

*.log

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.war
*.ear
/target/
/src/main/webapp/WEB-INF/lib
/scaffold
/logs
